body {
	background-color: #3C4A90;

/*	body
	#3C4A90 night
	#96B4E4 day
	container
	#939393 night
	#FCEE21 day
}*/
}
.container {
	min-width: 650px;
	position:absolute;
  	left:50%;
  	transform: translateX(-50%);
  	-webkit-transform: translateX(-50%);
	background-color: #939393;
	border: 0px solid black;
    border-radius: 15px;
    padding: 10px;
}

header {
	margin-bottom: 10px;
}



.input {
	margin: 10px auto;
	margin-top: 25px;
	width: 400px;
}

input {
	margin-top: 10px;
	height: 42px;
    width: 400px;
    font-size: 32px;
    border: 2px solid black;
    border-radius: 15px;
}

.today{

}

.today > * {
	display: inline-block;
}

img,
button {
	border: 0px solid black;
    border-radius: 15px;
}

.current-weather-img {
	height: 100px;

}

h1,
h3 {
	margin: 5px;
}

main {
	padding-left: 15px;
}

.referances {
	position: relative;
	top: 0;
}

dt {
	width: 130px;
}


.hour-img {
	width: 62px;
	position: relative;
    top: 25px;
}

.hour > * {
	display: inline-block;
	text-align: center;
}

.date {
	margin: 0px -12px;
	width: 80px;
}

footer {
	max-width: 650px;
	padding-top: 15px;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

button {
	height: 32px;
	width: 80px;
	margin: 5px;

}

